%html
  %head
    %title is it dope?                 
    - if ENV["RACK_ENV"] == 'production'
      =stylesheet_link_tag 'deploy.css'
      =javascript_include_tag 'deploy.js'
    - else
      =stylesheet_link_tag 'reset', 'grid', 'style', "http://fonts.googleapis.com/css?family=Reenie+Beanie"
      = javascript_include_tag 'prototype.s2.min','lowpro','/cafe/app'
    - if @js  
      - @js.each do |js|
        :javascript
          #{js}
%body
  #overlay{style:'display:none'}
  #preview  
  %audio#song{src: '/cantina-compressed.wav', preload: true}   
  .popup{style:'display:none'}
    .inner
      = partial :post
  .primary{:style => "display:none"}
    .spinner.small
    Move along, move along&hellip;
  #flash{:style => "display:none;"}
    %p   
  .container_12#container 
    %header                                    
      .grid_12
        .nav>
          %ul>
            - if session[:username]
              %li= button_tag "Upload", :class => 'new-upload'
              %li= link_to "Leave", '/leave', :class => 'button'
              
      %h1 is it <span class='dope'>dope?</span> 
    .clear
    =yield
    .clear               