.posts
  - @posts.each do |post|
    .post.deletable{:'data-id' => post.id}
      .image               
        = image_tag post.image.url
      .meta     
        = button_tag "yeps #{post.yeps.to_i || 0}", :class => "yeps"
        = button_tag "nopes #{post.nopes.to_i || 0}", :class => "nopes"    
        %p.inline
          = link_to "comments", "/post/#{post.id}"
        .author
          = link_to post.username, "/user/#{post.username}"

.clear.vspace      